<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.js'></script>
    <link rel='stylesheet' href='/javascripts/style.css' />
  </head>
  <style>
    .input-w{
        width: 310px;
        margin: 10px 0;
    }
    .input-w input{
      -webkit-appearance: none;
      border-bottom: 1px solid #666;
      width: 100px;
      text-align: center;
    }
    label{
      width: 60px;
      display: inline-block;
    }
    button{
      border: 1px solid #333;
      background: none;
    }
  </style>
  <body>
    <h2>register</h2>
    <div class='input-w'>
      <label for="user">user: </label>
      <input type="text" class='user' name="user">
    </div>
    <div class='input-w'>
      <label for="pass">pass: </label>
      <input type="text" class='pass' name='pass'>
    </div>
    <div><button class='submit'>submit</button></div>
    <script>
    	 $(".submit").on('click',function(){
            var user=$(".user").val();
            var pass=$(".pass").val();
            $.post('/admin/register', {
                username:user,
                password:pass
            }, function(data, textStatus, xhr) {
                if(data.code==1000){
                   alert(data.data.msg)
                }
            }); 
       });

    </script>
  </body>
</html>
