<!DOCTYPE html>
<html>
  <body>
  <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src='/javascripts/jquery.js'></script>
  <style>
  	#container{
	    width: 80%;
	    height: 600px;
	    margin: 50px auto 100px;

  	}
  	#editor{
	    overflow: auto;
	    box-sizing: border-box;
	    height: 500px;
	    box-shadow: 1px 4px 5px #ccc;
	    border: 1px solid #ccc;
  	}
  	#write{
		float: left;
		width: 47%;
		height: 100%;
		outline: none;
		padding: 10px;
		border-right: 1px solid #ccc;
  	}
  	#preview{
  		width: 47%;
  		height: 100%;
  		outline: none;
		  float: right;
  	}
	.input-w{
		margin: 20px auto ;
		display: block;
		text-align: center;
	}
	#title{
		border-bottom: 1px solid #ccc;
		width: 100px;
    text-align: center;
	}
	label{
		margin: 0 10px 0 -60px;
	}
	#sub{
		margin-top: 30px;
		float: right;
		cursor: pointer;
	}
  </style>
  	<div id="container">
  		<div class="input-w">
  			<label for="title">Title:</label><input type="text" id="title" name='title'>
  		</div>
  		<div id="editor">
    	<textarea id="write" oninput="this.editor.update()">write here..</textarea>
    	<div id="preview"></div>
    	</div>
   		 <div id="sub">save</div>
    </div>
    <script src="../javascripts/markdown.js"></script>
    <script>
      function Editor(input, preview) {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
      }
      new Editor($("#write")[0], $("#preview")[0]);
      $("#sub").on("click",function(){
            $.ajax({
                url: "/admin/write",
                type:"post",
                dataType: "json",
                data: {
                    content:preview.innerHTML,
                    title:$("#title").val(),
                    date:+new Date()
                },
                success: function(data) {
                    var d = data.data;
                    if(data.code==0){
                       location.href='/';
                    }else{
                       alert("出错啦");
                    }
                },
                error:function(){
            
                }
            })
          
      })
    </script>
  </body>
</html>