<% include ../layout/header.ejs %>
	<div id="article-list">
	<%for(var i=0;i<list.length;i++){%>
	<div class='article-w'>
		<div class="article-time"><%=list[i].date%></div>
		<h3 class="article-title"><%=list[i].title%></h3>
		<div class="artilce-intr">
			<a href=""><%=list[i].intr%></a>
		</div>
	</div>
	 <%}%>
	 </div>
<% include ../layout/footer.ejs %>