<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.js'></script>
    <title>blog</title>
  </head>
  <body>
   <div id="header">
      <%include nav.ejs%>
