<div class="head-nav">
         <%if(user){%>
         <a href="/admin/list">manage</a> 
         <a href="/admin/write">write</a>
         <a href="/">home</a> 
          <%}else{%>
             <a href="/admin/login">login</a>
           	 <a href="/">home</a> 
          <%}%>
   </div>